body {
    background: #eee;
}

.navigation.col-lg-12 {
    margin-top: 10px;
}

.jumbotron { 
    padding: 40px;
    border-radius: 5px;
    box-shadow: 1px 0px 3px #ccc;
}

.navbar-nav .active { 
    border-bottom: 3px solid orange;

}